<!doctype html>

<html lang="en">
  <head>
    <style>
        .jumbotron {
            width: 99.05vw;
            height: 95vh;
            background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url("https://businessforimpact.georgetown.edu/wp-content/uploads/sites/126/2019/06/blur-close-up-computer-keyboard-792199-1024x683.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .jumbotron h1, h2{
          margin-top:500px; 
        
        }
    </style>

  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center text-dark">
        <h3 class="display-5">Welcome <%=params[:first_name] %> !!!</h3>






       
      </div>
    </div>
  </body>
</html>